html, head, body {
  margin: 0;
  padding: 25px;
  background-color: #2a2a2a;
}

#surface {
  /* width: 600px; */
  /* height: 600px; */
  padding: 0;
  margin: auto;
  display: flex;
  background-color: #da6052;
}